body {
background-color: rgb(69, 13, 122);

}

h1 {
color: rgb(206, 226, 28); 
font-size: 300%; 
padding-left: 5%;
}

p{
font-family: Georgia, 'Times New Roman', Times, serif; 
color: rgb(189, 192, 7); 
text-align: center; 
font-size: 250%;
}
table,td,th{
   color: aqua;  
   border: 5px solid rgb(116, 10, 10);
   border-collapse: collapse;
}
